<!DOCTYPE html>
<html>
  <head>
    <title>Ziggeor</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="//assets-cdn.ziggeo.com/v1-stable/ziggeo.css" />
    <script src="//assets-cdn.ziggeo.com/v1-stable/ziggeo.js"></script>
    <script>ZiggeoApi.token = "<%= ENV['ZIGGEO_APP_TOKEN'] %>";</script>
  </head>

  <body>
    <nav class="nav navbar-inverse">
      <div class="container" >
        <div class="navbar-header">
          <%= link_to "9K", root_path, class: "navbar-brand" %>
        </div>
        <div id="navbar">
          <% if defined?(current_user) %>
            <ul class="nav navbar-nav navbar-right">
              <% if current_user %>
                <li class="navbar-text">Hello <%= current_user.email %></li>
                <li><%= link_to "Sign out", destroy_user_session_path %></li>
              <% else %>
                <li><%= link_to "Sign up", new_user_registration_path %></li>
                <li><%= link_to "Sign in", new_user_session_path %></li>
              <% end -%>
            </ul>
          <% end %>
        </div>
      </div>
    </nav>

    <div class="container">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>">
          <%= message %>
        </div>
      <% end %>

      <%= yield %>

    </div>
  </body>
</html>
